# Neo4j Configuration
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=BumBleBtuna1011*

# OpenRouter API
OPENROUTER_API_KEY=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
# Server Configuration
PORT=3001
ALLOWED_ORIGINS=http://localhost:8079,https://docpainting.netlify.app
