# Neo4j Configuration (Neo4j Aura Cloud)
NEO4J_URI=neo4j+s://c148cb1a.databases.neo4j.io
NEO4J_USER=doconnell797@gmail.com
NEO4J_PASSWORD=jBgAtldPuNYSLzZ7RquO8gvaqB9xpLPItpbLVOsXgwI

# OpenRouter API
OPENROUTER_API_KEY=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
# Server Configuration
PORT=3001
ALLOWED_ORIGINS=http://localhost:8079,https://docpainting.netlify.app
